:root{
    --black:#020015;
    --light-black:#180E2F;
    --perpel:#360E63;
    --light-perpel:#7750A2;
    --white:#FEFEFF;
    --gray:#E4E0D5;
    --outline: .1rem solid rgba(255, 248, 248, 0.1);
    --outline-hover:.2rem solid var(--black);
    --box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, .1);
}
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;600&family=Work+Sans:wght@700&display=swap');

*{
    font-family: 'League Spartan', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
  
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    background-color: var(--black);
    padding: 2rem 9%;
}
section{
    padding: 2rem ;
    background-color: #FEFEFF;
    border-radius: 20px;
}
.section{
    background-color: #FEFEFF;
    padding: 2rem 9%;
    border-radius: 20px;
}
.btn{
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: 2rem;
    color: var(--white);
    background: var(--black);
    cursor: pointer;
}
.header{
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    border-bottom: 1px solid black;
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.header .logo i{
    color: var(--light-perpel);
}

.header .icons{
    display: flex;
}
.header .icons .right{
    padding: 4px;
    line-height: 4.5rem;
    border-radius: 2rem;
    background: var(--black);
    color: var(--white);
    font-size: 2rem;
    text-align: center;
}
.header .icons div i{
    
    width: 5rem;
    height: 5rem;
    line-height: 4.5rem;
    border-radius: 2.5rem;
    background: var(--black);
    color: var(--white);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
}
.header .icons .right:hover,
.header .icons div i:hover{
    background-color: var(--light-perpel);
    color: var(--white);
}
.btn:hover{
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--light-black);
}
.features .box-contaner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem ,1fr));
    gap: 1.5rem;
    margin-top: 30px;
}
.features .box-contaner .box{
    padding: 3rem 2rem;
    background: var(--light-perpel);
    outline: var(--outline);
    outline-offset:-1rem ;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}
.features .box-contaner .box .container {
    position: relative;
}
.features .box-contaner .box .container .content {
    position: absolute; 
    bottom: 0; 
    
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%; 
    height: 60%;
}
.features .box-contaner .box:hover{
    outline: var(--outline-hover);
    outline-offset:0 ;
}
.features .box-contaner .box .container img{
    margin: 1rem 0;
    height: 15rem;
    object-fit: cover;
    
}
.features .box-contaner .box .container .content h1{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--white);
}
.features .box-contaner .box .container .content p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--white);
    
}
@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
        
    }
    
    section{
        padding: 2rem;
    }
}
@media (max-width:768px) {
    #menu-btn{
        display: none;
    }
    .header .search-form{
        width: 90%;
    }
    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
    .header .navbar.active{
        right: 2rem;
        transition: .4s inherit;
    }
}
@media (max-width:445px) {
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 2.5rem;
    }
    .logo{
        width: 100%;
        font-size: 5px;
        
    }
    .header{
        padding: 2rem;
    }
    .footer{
        text-align: center;
    }
    .justify-between{
        display: grid;
        line-height: 2rem;
    }
}